{% set controller_name = groups['controller'][0] %}
{% set controller = hostvars[controller_name] %}

openStack:
  username: admin
  password: c0ntrail123
  project: admin
  address: {{ controller.ansible_host }}
  port: 5000

controller:
  mgmtAddress: {{ controller.ansible_host }}
  ctrlAddress: 172.16.0.1
  restApiPort: 8082
  # Supported auth methods: keystone|noauth
  authMethod: keystone

testbeds:
{% for testbed_name in groups['testbed'] %}
{% set testbed = hostvars[testbed_name] %}
  - name: {{ testbed_name }}
    address: {{ testbed.ansible_host }}
    username: Administrator
    password: 'Contrail123!'
    mgmtAdapterName: Ethernet0
    dataAdapterName: Ethernet1
{% endfor %}

system:
  forwardingExtensionName: vRouter forwarding extension
